////
/// Typography
/// Init typography basic settings
/// @group Typography
////

///
@import "./settings";
///
@import "../modules/icons";


///
$msuif-headers-h1-font-size: 				toem(48px);
///
$msuif-headers-h2-font-size: 				toem(32px);
///
$msuif-headers-h3-font-size: 				toem(24px);
///
$msuif-headers-h4-font-size: 				toem(20px);
///
$msuif-headers-h5-font-size: 				toem(18px);
///
$msuif-headers-h6-font-size: 				toem(14px);


html,
button {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: $msuif-font;
  font-weight: 400;
  color: $msuif-font-color;
}

h1 {
  margin: 0;
  color: #FFF;
  font-family: "proxima-nova-bold";
  font-size: $msuif-headers-h1-font-size;
  text-transform: uppercase;

  span {
    font-family: "proxima-nova-light";
  }
}

h2 {
  margin: 20px 0 0;
  font-family: "proxima-nova-bold";
  font-size: $msuif-headers-h2-font-size;
  line-height: 1.4;
  text-transform: uppercase;
}

h3 {
  font-size: $msuif-headers-h3-font-size;
}

h4 {
  margin: 0;
  font-size: $msuif-headers-h4-font-size;
  text-transform: uppercase;
}

h5 {
  font-family: "proxima-nova-bold";
  font-size: $msuif-headers-h5-font-size;
}

h6 {
  margin: 0;
  display: inline-block;
  font-family: "proxima-nova-bold";
  font-size: $msuif-headers-h6-font-size;
  text-transform: uppercase;
}

strong {
  font-weight: $msuif-font-weight-bold;
}

i {
  font-family: "proxima-nova-italic";
}

p {
  line-height: 1.5;
  font-size: 18px;
}

.ms-icon {
  font-size: 26px;
  padding: 10px;
}

@font-face {
  font-family: "proxima-nova";
  src: url('../fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: "proxima-nova-italic";
  src: url('../fonts/ProximaNova-RegularItalic.otf');
}

@font-face {
  font-family: "proxima-nova-bold";
  src: url('../fonts/ProximaNova-Bold.otf');
}

@font-face {
  font-family: "proxima-nova-bolder";
  src: url('../fonts/ProximaNova-Extrabold.otf');
}

@font-face {
  font-family: "proxima-nova-light";
  src: url('../fonts/ProximaNova-Light.otf');
}

@font-face {
  font-family: "hand-of-sean";
  src: url('../fonts/HandOfSeanPro.otf');
}
