header {
  width: 100%;
  padding: 20px 50px;
  position: absolute;
  z-index: 1000;
  @include clearfix;

  a {
    color: #000;
    font-weight: bold;

    &:hover {
      color: #000;
    }

    &:visited {
      color: #000;
    }

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
}
