<img src="img/ups-mobile.jpg" class="mobile-only"/>
<video loop class="desktop-only">
  <source src="video/ups.mp4" type="video/mp4">
  <source src="video/ups.ogv" type="video/ogg">
  <source src="video/ups-hd.webm" type="video/webm">
  <source src="video/ups-sd.webm" type="video/webm">
</video>
<div class="overlay"></div>
<div class="wrapper">
  <h1>Un tropezón no es caída</h1>
  <p>Un año después lanzamos Doppler. ¡Todo fincionaba perfectamente...! Oh, oh. No todo. El primer cliente enviaba correos SPAM y contrató utilizando una tarketa inválida.</p>
  <h5>¡Esto no estaba dentro de los planes! ¿Qué crees que ocurrió entonces?</h5>
  <span class="ms-icon icon-arrow-left pulse-left"></span>
  <a class="iterateEffects option-left pulsable" data-direction="up" data-target="pt-page-03-left">Reforzamos la seguridad</a>
  <span class="ms-icon icon-bar"></span>
  <a class="iterateEffects option-right pulsable" data-direction="left" data-target="pt-page-03-right">Dos personas renunciaron</a>
  <span class="ms-icon icon-arrow-right pulse-right"></span>
</div>
