<video loop>
  <source src="video/chau.mp4" type="video/mp4">
</video>
<div class="overlay"></div>
<div class="wrapper">
  <h1>El que no arriesga, no gana</h1>
  <p>¿Quieres hacer crecer tu negocio? <strong>aqui tienes un 2X1 en doppler</strong> utilizando el código promocional: <strong>DUPLICADOPPLER</strong></p>
  <p><span>¿Ya tienes cuenta en Doppler? CANJEA TU PREMIO ó</span></p>
  <button class="account">Crea tu cuenta</button>
  <h5 class="cursive">Y luego canjea tu premio <span class="ms-icon icon-arrow-right-cursive"></span></h5>
  <p><i>¿No sabes cómo canjear tu código? <a href="#">Apréndelo aquí.</a></i></p>
  <p><small><i>*Válido para 10 usos.</i></small></p>
  <section>
    <a class="iterateEffects" data-direction="down" data-target="pt-page-01"><span class="ms-icon icon-reload"></span> Vuelve a jugar</a>
  </section>
</div>
