<video loop>
  <source src="video/pepe.mp4" type="video/mp4">
</video>
<div class="overlay"></div>
<div class="wrapper">
  <h1>¡Felicitaciones! Eres el gran ganador</h1>
  <p><span>Muy pocos llegan hasta aquí y tú lo has logrado. Déjanos tu Email y el lunes 6 de junio nos comunicaremos contigo para enviarte alguno de estos súper premios.</span></p>
  <h2>1 año gratis en doppler</h2>
  <h4>En planes mensuales</h4>
  <section>
    <h6>Productos para tu oficina</h6>
    <h6>Descuentos especiales en otras herramientas</h6>
    <h6>Asesorías gratuitas y personalizadas</h6>
  </section>
  <form>
    <span><input id="email-input" type="email" placeholder="Email" required></span>
    <input type="submit" value="Quiero mi premio">
  </form>
</div>
