<div class="wrapper">
  <h1>Un día para recordar</h1>
  <p>El 30 de mayo de 2005 se reunían en una pequeña oficina los fundadores de Doppler. Tenían una idea clara: crear una aplicación de Email Marketing efectiva y facil de usar</p>
  <h6>¿Piensas que se atrevieron a encarar el desafío?</h6>
  <a class="iterateEffects" data-direction="right" data-target="pt-page-02-right">No se animaron</a>
  <span>ll</span>
  <a class="iterateEffects" data-direction="left" data-target="pt-page-02-left">Se animaron</a>
</div>
