<video loop>
  <source src="video/home.mp4" type="video/mp4">
</video>
<div class="overlay"></div>
<div class="wrapper">
  <h1><span>Doppler Aventura</span><h1>
  <h1>Más de 10 años</h1>
  <section>
    <p>¿Y tú que crees que sucedió? Diviertete con un sin fin de posibilidades y participa por premios increíbles</p>
  </section>
  <button class="iterateEffects pulsable" data-direction="up" data-target="pt-page-01">Comienza tu aventura</button>
  <div>
    <a class="iterateEffects" data-direction="up" data-target="pt-page-01"><span class="ms-icon icon-arrow-down pulse-down"></span></a>
  </div>
</div>
