<img src="img/2005-mobile.jpg" class="mobile-only"/>
<video loop class="desktop-only">
  <source src="video/2005.mp4" type="video/mp4">
  <source src="video/2005.ogv" type="video/ogg">
  <source src="video/2005-hd.webm" type="video/webm">
  <source src="video/2005-sd.webm" type="video/webm">
</video>
<div class="overlay"></div>
<div class="wrapper">
  <h1>Un día para recordar</h1>
  <p>El 30 de mayo de 2005 se reunían en una pequeña oficina los fundadores de Doppler. Tenían una idea clara: crear una aplicación de Email Marketing efectiva y facil de usar</p>
  <h5>¿Piensas que se atrevieron a encarar el desafío?</h5>
  <span class="ms-icon icon-arrow-left pulse-left"></span>
  <a class="iterateEffects option-left pulsable" data-direction="right" data-target="pt-page-02-left">No se animaron</a>
  <span class="ms-icon icon-bar"></span>
  <a class="iterateEffects option-right pulsable" data-direction="left" data-target="pt-page-02-right">Se animaron</a>
  <span class="ms-icon icon-arrow-right pulse-right"></span>
</div>
