<video loop>
  <source src="video/chau.mp4" type="video/mp4">
</video>
<div class="overlay"></div>
<div class="wrapper">
  <h1>Nadie abandona el barco</h1>
  <p>Aprovecha un 2X1 para la compra de créditos en Planes Prepagos y llega a más clientes. Utiliza este <strong>Código Promocional: CUMPL3X2.</strong></p>
  <p><span>¿Ya eres usuario en Doppler? CANJEA TU PREMIO. Si no...</span></p>
  <button class="account">Crea tu cuenta</button>
  <p><i>¿No sabes cómo activar tu código? <a href="#">Descúbrelo aquí.</a></i></p>
  <p><small><i>*Válido para nuevas cuentas y recompras de créditos.</i></small></p>
  <section>
    <a class="iterateEffects" data-direction="down" data-target="pt-page-01"><span></span> Vuelve a jugar</a>
  </section>
</div>
