<img src="img/chau-mobile.jpg" class="mobile-only"/>
<video loop class="desktop-only">
  <source src="video/chau.mp4" type="video/mp4">
  <source src="video/chau.ogv" type="video/ogg">
  <source src="video/chau-hd.webm" type="video/webm">
  <source src="video/chau-sd.webm" type="video/webm">
</video>
<div class="overlay"></div>
<div class="wrapper">
  <h1>Nadie abandona el barco</h1>
  <p>2X1 para la compra de créditos en Planes Prepagos y llega a más clientes. Utiliza este <strong>Código Promocional: CUMPL3X2.</strong></p>
  <p><span>¿Ya eres usuario en Doppler? CANJEA TU PREMIO. Si no...</span></p>
  <button class="account">Crea tu cuenta</button>
  <h5 class="cursive">Y luego canjea tu premio <span class="ms-icon icon-arrow-right-cursive"></span></h5>
  <p class="informational"><i>¿No sabes cómo activar tu código? <a href="#">Descúbrelo aquí.</a></i></p>
  <p class="informational"><small><i>*Válido para nuevas cuentas y recompras de créditos.</i></small></p>
  <section class="desktop-only">
    <a class="iterateEffects  pulsable" data-direction="down" data-target="pt-page-01"><span class="ms-icon icon-reload"></span> Vuelve a jugar</a>
  </section>
</div>
