<div class="wrapper">
  <h1>¡Felicitaciones! Eres el gran ganador</h1>
  <p><span>Muy pocos llegan hasta aquí y tú lo has logrado. Déjanos tu Email y el lunes 6 de junio nos comunicaremos contigo para enviarte alguno de estos súper premios.</span></p>
  <h2>1 año gratis en doppler</h2>
  <h3>En planes mensuales</h3>
  <div>
    <h4>Productos para tu oficina</h4>
    <h4>Descuentos especiales en otras herramientas</h4>
    <h4>Asesorías gratuitas y personalizadas</h4>
  </div>
  <input type="email" placeholder="Email">
  <button class="submit">Quiero mi premio</button>
</div>
